<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Gesture \u0917\u0941\u0930\u0941"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NSL_mini"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LearnActivity"
            android:exported="false" />
        <activity
            android:name=".PagerActivity"
            android:exported="false" />
        <activity
            android:name=".AddQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ViewQuizzesActivity"
            android:exported="false" />
        <activity
            android:name=".PlayQuizActivity"
            android:exported="false" />
        <activity
            android:name=".QuizCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".PhotoModelActivity"
            android:exported="false" />
    </application>
</manifest>
